<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- @author HeeRak -->
	<!-- INGRE_SEARCH [INSERT] -->
	<entry key="insertIngreSearch">
		INSERT
		  INTO INGRE_SEARCH
		     (
		       INGREDIENT_SEARCH
		     , RECIPE_NO
		     , CATEGORY_SNO
		     )
		VALUES
			 (
			   ?
			 , SEQ_RNO.CURRVAL
			 , ?
			 )
	</entry>
	
	
</properties>