<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- @author HeeRak -->
	<!-- INGRE [INSERT] -->
	<entry key="insertIngreList">
		INSERT
		  INTO INGRE
		  	 (
		  	   INGRE_NO
		  	 , RECIPE_NO
		  	 , CATEGORY_SNO
		  	 , INGRE_AMOUNT
		  	 , INGRE_UNIT
		  	 , INGRE_CATEGORY
		  	 )
		 VALUES
		 	 (
		 	   SEQ_INO.NEXTVAL
		 	 , SEQ_RNO.CURRVAL
		 	 , ?
		 	 , ?
		 	 , ?
		 	 , ?
		 	 )
	</entry>
	
	
</properties>